@page "/cms/add-gallery"
@layout Taraweb.Shared.cms.MainLayout
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService

@inject TarawebM1Service TarawebM1Service

<PageTitle>Add Gallery</PageTitle>
<RadzenContent Container="main">
    <div class="col-md-12">
        <RadzenTemplateForm TItem="Taraweb.Models.TarawebM1.Gallery" Data="@gallery" Visible="@(gallery != null)" Submit="@FormSubmit">
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="FileName" Component="FileName" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gallery.FileName" Name="FileName" />
                    <RadzenRequiredValidator Component="FileName" Text="FileName is required" style="position: absolute" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Url" Component="Url" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gallery.Url" Name="Url" />
                    <RadzenRequiredValidator Component="Url" Text="Url is required" style="position: absolute" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="FileExtension" Component="FileExtension" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gallery.FileExtension" Name="FileExtension" />
                    <RadzenRequiredValidator Component="FileExtension" Text="FileExtension is required" style="position: absolute" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="FileType" Component="FileType" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gallery.FileType" Name="FileType" />
                    <RadzenRequiredValidator Component="FileType" Text="FileType is required" style="position: absolute" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="FileSize" Component="FileSize" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenNumeric style="display: block; width: 100%" @bind-Value="@gallery.FileSize" Name="FileSize" />
                    <RadzenRequiredValidator Component="FileSize" Text="FileSize is required" style="position: absolute" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="IsActive" Component="IsActive" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenCheckBox @bind-Value="@gallery.IsActive" Name="IsActive" />
                    <RadzenRequiredValidator Component="IsActive" Text="IsActive is required" style="position: absolute" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="DateCreate" Component="DateCreate" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDatePicker DateFormat="MM/dd/yyyy" style="display: block; width: 100%" @bind-Value="@gallery.DateCreate" Name="DateCreate" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="UserCreateId" Component="UserCreateId" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenNumeric style="display: block; width: 100%" @bind-Value="@gallery.UserCreateId" Name="UserCreateId" />
                    <RadzenRequiredValidator Component="UserCreateId" Text="UserCreateId is required" style="position: absolute" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="DateUpdate" Component="DateUpdate" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDatePicker DateFormat="MM/dd/yyyy" style="display: block; width: 100%" @bind-Value="@gallery.DateUpdate" Name="DateUpdate" />
                    <RadzenRequiredValidator Component="DateUpdate" Text="DateUpdate is required" style="position: absolute" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="UserUpdateId" Component="UserUpdateId" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenNumeric style="display: block; width: 100%" @bind-Value="@gallery.UserUpdateId" Name="UserUpdateId" />
                    <RadzenRequiredValidator Component="UserUpdateId" Text="UserUpdateId is required" style="position: absolute" />
                </div>
            </div>
            <div class="row">
                <div class="col offset-sm-3">
                    <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@CancelButtonClick" />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>
</RadzenContent>
@code {

    protected override async Task OnInitializedAsync()
    {
        gallery = new Taraweb.Models.TarawebM1.Gallery();
    }
    protected Taraweb.Models.TarawebM1.Gallery gallery;

    protected async Task FormSubmit()
    {
        try
        {
            await TarawebM1Service.CreateGallery(gallery);
            NavigationManager.NavigateTo("galleries");
        }
        catch (Exception ex)
        {
            NotificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = $"Error",
                Detail = $"Unable to update Gallery"
            });
        }
    }

    protected async Task CancelButtonClick(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("galleries");
    }
}
